
@{
    ViewBag.Title = "Agree";
}
<h1 class="text-center mb-5">Terms of Service</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Your Account</h2>
            <p>
                When using our Services requires an account, you agree to provide us with complete and accurate information and to keep the information current so that we can communicate with you about your account. We may need to send you emails about notable updates (like changes to our Terms of Service or Privacy Policy), or to let you know about legal inquiries or complaints we receive about the ways you use our Services so you can make informed choices in response.
                <br />
                <br />
                We may limit your access to our Services until we’re able to verify your account information, like your email address.
                <br />
                <br />
                When you create a WordPress.com account, we consider that to be an inquiry about our products and services, which means that we may also contact you to share more details about what we have to offer (i.e., marketing). Don’t worry — if you aren’t interested, you can opt out of the marketing communications, whether it’s an email, phone call, or text message.
                <br />
                <br />
                You’re solely responsible and liable for all activity under your account. You’re also fully responsible for maintaining the security of your account (which includes keeping your password secure). We’re not liable for any acts or omissions by you, including any damages of any kind incurred as a result of your acts or omissions. If you get fired because of a blog post you write about your boss, that’s on you.
                <br />
                <br />
                Don’t share or misuse your access credentials. And notify us immediately of any unauthorized uses of your account, store, or website, or of any other breach of security. If we believe your account has been compromised, we may suspend or disable it.
            </p>
        </div>
        <div class="col-sm-12">
            <h2> Minimum Age Requirements</h2>
            <p>
                Our Services are not directed to children. You’re not allowed to access or use our Services if you’re under the age of 13 (or 16 in Europe).
                If you register as a user or otherwise use our Services, you represent that you’re at least 13 (or 16 in Europe). You may use our Services only if you can legally form a binding contract with us. In other words, if you’re under 18 years of age (or the legal age of majority where you live), you can only use our Services under the supervision of a parent or legal guardian who agrees to the Agreement.
            </p>
        </div>
        <div class="col-sm-12">
            <h2>Responsibility of Visitors and Users</h2>
            <p>
                We haven’t reviewed, and can’t review, all of the content (like text, photo, video, audio, code, computer software, items for sale, and other materials) posted to or made available through our Services by users or anyone else (“Content”) or on websites that link to, or are linked from, our Services. We’re not responsible for any use or effects of Content or third-party websites. So, for example:
                <br />
                <br />
                - We don’t have any control over third-party websites.
                <br />
                - A link to or from one of our Services does not represent or imply that we endorse any third-party website.
                <br />
                - We don’t endorse any Content or represent that Content is accurate, useful, or not harmful. Content could be offensive, indecent, or objectionable; include technical inaccuracies, typographical mistakes, or other errors; or violate or infringe the privacy, publicity rights, intellectual property rights, or other proprietary rights of third parties.
                <br />
                - You’re fully responsible for the Content available on your website, and any harm resulting from that Content. It’s your responsibility to ensure that your website’s Content abides by applicable laws and by the Agreement.
                <br />
                - We aren’t responsible for any harm resulting from anyone’s access, use, purchase, or downloading of Content, or for any harm resulting from third-party websites. You’re responsible for taking the necessary precautions to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
                <br />
                - Any Content that’s for sale through any of our Services is the seller’s sole responsibility, so you must look solely to the seller for any damages that result from your purchase or use of Content.
                <br />
                - We are not a party to, and will have no responsibility or liability for, any communications, transactions, interactions, or disputes between you and the provider of any Content.
                <br />
                - Please note that additional third-party terms and conditions may apply to Content you download, copy, purchase, or use.
            </p>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
    <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>