@model MedicalQuestionsProject.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<head>
    <meta charset="utf-8">
    <link href="~/Scripts/style.css" rel="stylesheet" />
   
</head>

<div class="loginbackground box-background--white padding-top--64">
    <div class="loginbackground-gridContainer">
        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="mx-auto login-box" style="width:600px">
            <h2 class="w3-center">Login</h2>
            <form action="/account/login" method="post" class="needs-validation" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="form-group mr-3">
                    <label for="email" class="mr-1">Email:</label>
                    <input type="email" class="form-control" id="email" name="Email" required="required" autofocus="autofocus" value="@Model.Email">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Invalid Email</div>
                </div>

                <div class="form-group mr-3">
                    <label for="pwd" class="mr-1">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="Password" required="required" value="@Model.Password" minlength="6">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Password must contain at least 6 characters</div>
                </div>
                <div class="w3-center">
                    <button class="btn btn-success">Login</button>
                </div>
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>
            </form>
            <div class="footer-link padding-top--24">
                <span>Don't have an account? <a href="/account/register">Sign up</a></span>
            </div>
        </div>
        <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
            <span><a href="/home/index">© Medical</a></span>
            <span><a href="/home/contact">Contact</a></span>
            <span><a href="/home/about">About</a></span>
        </div>
    </div>
</div>

<script>
    $("a[href='/account/login']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event)
    {
        if ($(".needs-validation")[0].checkValidity() == false)
        {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }
</script>